<<h1>Is it a square?</h1>

<h5>Your rectangle's length is $myRectangle.getLength()</h5>
<h5>Your rectangle's width is $myRectangle.getWidth()</h5>

#if ($myRectangle.isSquare())
  <h3>Your rectangle is a square!</h3>
  <h5>Surface area of a cube with those dimensions: $myCube.surfaceArea()</h5>
  <h5>Volume of a cube with those dimensions: $myCube.volume()</h5>
#else
  <h5>Your rectangle isn't a square!</h5>
#end
